<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-justified">
            <li><a href="/coming-soon/">Sugaring</a></li>
            <li><a href="/coming-soon/">Waxing</a></li>
            <li><a href="/coming-soon/">Facials</a></li>
            <li><a href="/coming-soon/">Tanning</a></li>
        </ul>
    </div>
</nav>

<nav class=" navbar navbar-fixed-bottom navbar-inverse" style="background-color:rgba(103, 50, 11, 0.64)" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="bottom-navbar collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav nav-justified" style="padding-bottom:5px;">
            <li><a style="color:rgb(209, 184, 43);" href="/">Home</a></li>
            <li><a style="color:rgb(209, 184, 43);" href="/coming-soon/">Contact</a></li>
            <li><a style="color:rgb(209, 184, 43);" href="/coming-soon/">Appointments</a></li>
            <li><a style="color:rgb(209, 184, 43);" href="/coming-soon/">About</a></li>
            <li><a style="color:rgb(209, 184, 43);" href="/coming-soon/">Community</a></li>

        </ul>
    </div>
</nav>


 
