<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-justified">
            <li><a href="/sugaring/">Sugaring</a></li>
            <li><a href="/coming-soon/">Waxing</a></li>
            <li><a href="/coming-soon/">Facials</a></li>
            <li><a href="/coming-soon/">Tanning</a></li>
        </ul>
    </div>
</nav>




 
