
@{
    ViewBag.Title = "About";
}

<div class="row">
	<div class="form-signin col-md-6" style="margin-top:4%;">
		<h1>about the "sugar"...</h1>
		<p>SugarMaMa is a skincare center that is fun, comfortable, and super affordable where you will find personalized solutions for all of your skin care needs.  We specialize in custom facials, diamond tip microderm, custom airbrush spray tanning, sugaring and eyelash and eyebrow tinting.</p>
		<br/>
		<h1 style="float:right">...about the "mama"</h1>
		<img class="fancy-img img-responsive" src="/content/images/debbie.jpg">
		<br/>
		<p>After over 11 years of working in some of the most prestigious spas in Southern California, Deborah decided to take her passion and knowledge for all things beauty and open her own skincare center.  Previously, she could have been found practicing her craft at <span style="color:#296B00">Glen Ivy Day Spa, Spa Luce</span> at the Renaissance in Hollywood, and <span style="color:#296B00">Aqua Star</span> which is found inside the Beverly Hilton.</p>
		<p>Deborah is passionate about helping her clients achieve their skincare goals by using the highest quality products and techniques. She understands the need for affordable service while never compromising quality. Deborah's main desire has always been to see her clients look and feel their best.</p>
	</div>
	<div class="col-md-6" style="margin-top:4%;">

		<img class="img-responsive" style="margin: 0 auto 4px auto;" src="/content/images/fancy-lines-sm.png" alt="Alternate Text" />
		<iframe class="fancy-img" width="560" height="315" src="//www.youtube.com/embed/axiC4TqHoOQ" frameborder="0" allowfullscreen></iframe>
		<img class="img-responsive" style="margin: 0 auto;" src="/content/images/fancy-lines-sm-flip.png" alt="Alternate Text" />
	</div>	
</div>

