@{
    ViewBag.Title = "Appointments";
}

<div class="container">
    <div class="jumbotron">
        <h1>Appointments</h1>
        <br />
        <h3>Hours: Mon, Wed-Sat 10:00am-8:00pm</h3>
        <br />
        <h4>To make an appointment, please call <strong>714.218.4382</strong>.</h4>
        <p><i>Online booking coming soon!!</i></p>

    </div>
</div>

