
@{
    ViewBag.Title = "Index";
}

<div class="background">
    <div class="top-bar" style="text-align:center;">
        <ul style="width:100%; background-color:rgba(128, 128, 128, 0.4); text-align:center;">
            <li style="display:inline-block; color:white; margin-right:15%;"><a href="#">Services</a></li>
            <li style="display:inline-block; color:white; margin-right:15%;"><a href="#">Book</a></li>            
            <li style="display:inline-block; color:white; margin-right:15%;"><a href="#">About</a></li>
            <li style="display:inline-block; color:white; margin-right:15%;"><a href="#">Contact</a></li>
            <li style="display:inline-block; color:white; margin-right:15%;"><a href="#">Community</a></li>
        </ul>
    </div>
    
    <div class="home-footer">
        <img src="Content/images/sugarMamaSymbolSmall.png" style="padding-top:1%; height:90%;"  alt="Alternate Text" />
        
        <img src="Content/images/sugarMamaSymbolSmall.png" style="padding-top:1%; height:90%; float:right;"  alt="Alternate Text" />
    </div>
</div>

