
@{
    ViewBag.Title = "Peels";
}

<div class="row">
    <div class="form-signin col-md-6" style="margin-top:4%;">
    	<h2>chemical peels</h2>
    	<p style="margin-bottom: 20px">Every peel performed will start with a consultation.  It is important
    	to discuss expectations and goals.  Peels can improve the
    	overall health of the skin as well as address:</p>
    	<div class="row">
         <div class="col-md-4">
             <ul>
                <li style="margin-bottom:10px;">uneven skintone</li>
                <li style="margin-bottom:10px;">texture</li>
                <li style="margin-bottom:10px;">fine lines</li>
                <li style="margin-bottom:10px;" >wrinkles</li>
                <li style="margin-bottom:10px;">scarring</li>
                <li style="margin-bottom:10px;">acne</li>
             </ul>
         </div> 
         <div class="col-md-8">
              <img class="fancy-img img-responsive" src="/content/images/peels1.jpg" alt="Alternate Text" />
         </div>  
        </div>

        <br/>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <img class="fancy-img img-responsive" src="/content/images/peels2.jpg" alt="Alternate Text" />
            </div>
            <br />
        </div>    
    </div>
   <div class="col-md-6" style="margin-top:5%; font-family:'Century Gothic', Arial;">
        <h2 style="text-align:center">services</h2>
        <img class="img-responsive" style="margin: 0 auto;" src="/content/images/fancy-lines-sm.png" alt="Alternate Text" />
        <br />

        <div style="margin-bottom:30px; text-align:center;">
            <p style="color:rgb(146, 58, 7)"><em>lactic acid  -  55</em></p>
            <p>Helps to soften, stimulate, smooth, and exfoliate the skin.  Perfect
                before a big event.</p> 
            <p style="margin-top: -5px;">
                <span style="font-size: small; color: #557D0B">(no peeling)</span>
            </p>
        </div>
         <div style="margin-bottom:30px; text-align:center;">
            <p style="color:rgb(146, 58, 7)"><em>glycolic acid  -  60</em></p>
            <p>A workout for your skin.  Glycolic is known for its tightening affects.</p>
            <p style="margin-top: -5px;">
                <span style="font-size: small; color: #557D0B">(no peeling)</span>
            </p>
        </div>
         <div style="margin-bottom:30px; text-align:center;">
            <p style="color:rgb(146, 58, 7)"><em>salycilic acid  -  60</em></p>
            <p>Helps to dissolve build-up on skin, kill acne-causing bacteria, as well as
            lighten hyperpigmentation.</p>
            <p style="margin-top: -5px;">
                <span style="font-size: small; color: #557D0B">(expect peeling for up to 3-10 days)</span>
            </p>
        </div>
         <div style="margin-bottom:30px; text-align:center;">
            <p style="color:rgb(146, 58, 7)"><em>tca  -  80</em></p>
            <p>Helps to exfoliate dead skin cells, reduces the appearance of fine lines
                and wrinkles.  Tightens, tones, and smoothes skin texture.</p>
            <p style="margin-top: -5px;">
                <span style="font-size: small; color: #557D0B">(expect peeling for up to 5-7 days)</span>
            </p>
        </div>
        <div style="margin-bottom:30px; text-align:center;">
            <p style="color:rgb(146, 58, 7)"><em>jessner  -  90</em></p>
            <p>The big guns...  This peel is designed to retexturize skin, smooth scarring, and reduce hyperpigmentation.</p>
            <p style="margin-top: -5px;">
                <span style="font-size: small; color: #557D0B">(expect peeling and flaking for 7-10 days)</span>
            </p>
        </div>
       </div> 
</div>

