
@{
    ViewBag.Title = "Sugaring";
}
<div class="container">
    <div class="row">
        <div class="form-signin col-md-6" style="margin-top:4%; font-family:'Century Gothic', Arial;">
            <h2>sugaring</h2>
            <p>Sugaring is an ancient art of hair removal that dates back to 1900 BC.  We are excited to offer this service and product, here, in a modern setting.</p>
            <div class="row">
                <div class="col-md-7">
                    <img  class="fancy-img img-responsive" src="~/content/images/sugar-spoon-long.jpeg" alt="Alternate Text" />
                </div>
                <br />
                <div class="col-md-5">
                    <img  class="fancy-img img-responsive" src="~/content/images/sugar-pile.jpg" alt="Alternate Text" />
                </div>            
            </div>    
            <br />
            <p>Sugar is 100% natural.  No chemicals.  No preservatives.  No irritants.  Sugar is cooked into a paste-like consistency and applied to the skin by
                your certified esthetician.  Sugar paste is a natural exfoliant that only adheres to dead skin cells and hair, so you can expect your skin 
                to feel extremely smooth <i>"like a baby's bottom"</i>.
            </p>
            <p><img  class="fancy-img img-responsive" src="~/content/images/sugaring-legs.jpg" alt="Alternate Text" /></p>
            <p>You will never feel discomfort due to the temperature of the sugar paste as it is kept slightly warmed and is heated to body temperature during the service.
                The skin looks beautiful right after a sugaring session.  Additionally, sugaring leads to less ingrown hairs.  Many clients have 
                switched to sugar simply for the benefit alone.  Sugaring leads to noticeable "hair loss".
            </p>
        </div>
        <div class="col-md-6" style="margin-top:5%; font-family:'Century Gothic', Arial;">
            <h2 style="text-align:center">services</h2>
            <img class="img-responsive" style="margin: 0 auto;" src="~/content/images/fancy-lines-sm.png" alt="Alternate Text" />
            <br />

            <div style="margin-bottom:10px;"><span class="pull-left">eyebrow shaping</span><span class="pull-right">$15</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">chin</span><span class="pull-right">$10</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">nostrils</span><span class="pull-right">$10</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">full face <i>- includes brows, nostrils, lip, chin, sideburns</i></span><span class="pull-right">$40</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">underarms</span><span class="pull-right">$15</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">arms</span><span class="pull-right">$35</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">half leg</span><span class="pull-right">$50</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">full leg</span><span class="pull-right">$70</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">bikini</span><span class="pull-right">$30</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">deep bikini</span><span class="pull-right">$35</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">brazilian <i>- front to tush</i></span><span class="pull-right">$50</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">chest <i>- includes stomach</i></span><span class="pull-right">$45</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">lower back</span><span class="pull-right">$30</span></div>
            <br /><div style="margin-bottom:10px;"><span class="pull-left">full back <i>- includes shoulder</i></span><span class="pull-right">$55</span></div>


        </div>
        
    </div>
</div>



